<div class="activity-area">
  <div class="activity-area-inner">
    <h2 class="text-left"><strong>3つのリソースから<br>学生起業家を応援します！</strong></h2>
    <div class="activity-area-inner-transparent">
      <%= link_to "メンターの支援",
                  "/#mentor",
                  :class => "btn btn-primary half-width form-label" %>
      <%= link_to "出会いの場の提供",
                  "/#community",
                  :class => "btn btn-primary half-width form-label" %>
      <%= link_to "必要な情報の発信",
                  "/#media",
                  :class => "btn btn-primary half-width form-label" %>
    </div>
  </div>
</div>