<div class="explain-area" id="community">
  <div class="explain-area-inner">
    <h2><strong>学生起業家の出会いの場を提供します</strong></h2>
    <p>
      学生起業家が自分の活動を共有しあえる場を、学生の立場から提供します。
    </p>
    <a href="/community"><strong>→詳しくはこちら</strong></a>
  </div>
</div>