<a href="/notifications/">
  <div class="mentoring-area hover_img wow fadeInLeft">
    <div class="mentoring-area-inner">
      <h2 class="text-left"><strong>メンターに質問する</strong></h2>
    </div>
  </div>
</a>