<div class="explain-area" id="mentor">
  <div class="explain-area-inner">
    <h2><strong>メンターが学生起業の手助けをします</strong></h2>
    <p>
      KBCの10年間の活動を支援してきた各分野の専門家であるメンター方のご助言をいただけます。
      自分の起業分野にそって、好きなメンターを選ぶことができます。
    </p>
    <a href="/"><strong>→詳しくはこちら</strong></a>
  </div>
</div>